@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Monomakh&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* * {
  padding: 0;
  margin: 0;
} */
body {
  background-color: #ffdab9;
  color: #4682b4;

  font-size: 16px;
  font-weight: normal;
  font-family: "Roboto", serif;

  /* font: normal 16px "Roboto", serif; */
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: blue;
}

a:visited {
  color: aqua;
}

.cat1 {
  width: 250px;
  border-radius: 50%;
  box-shadow: 4px 4px 14px rgba(51, 138, 196, 1);
}

#kotik {
  width: 250px;
  border-radius: 28px;
}

.infoo {
  display: flex;
  margin-bottom: 50px;
}

/* .info p {
  color: #191970;
  margin: 0;
  font-style: italic;
  text-decoration: none; */
/* text-transform: uppercase; */
/* letter-spacing: 4px; */
/* word-spacing: 42px; */
/* } */
/* box model */

.container {
  max-width: 85%;
  margin: auto;
  background-color: white;
}
/* .stroki { */
/* background-color: #ffe3fd;
  padding: 15px;
  padding: 15px 40px; 
  margin: 20px;

  border: 5px solid orange;
  border-bottom-style: dotted;
  border-top-width: 10px; */
/* }  */

/* .card{
  padding: 15px 20px;
  background: #FFA07A;
  margin-bottom: 20px;
  border-radius: 20px;
} */

.bg-yellow {
  background: #fff9dc;
}
.bg-green {
  background: #e5ffe7;
}

.bg-red {
  background: #ffe5e5;
}

.card h2 {
  margin-bottom: 10px;
}

.card {
  margin-bottom: 20px;
}
.info-text {
  margin-left: 40px;
}

.list {
  /* padding: 0px 0px; */
  /* list-style: none; */
}

.list li {
  color: #86898f;
  margin-bottom: 10px;
  border-bottom: 1px solid grey;
}

.tablee {
  width: 100%;
}

.tablee td {
  padding-bottom: 10px;
}

.tablee td:nth-child(2),
.tablee td:nth-child(3) {
  color: aqua;
}

/* .tabel tr:nth-child(odd) {
    background: red; 
  } */

.contact h2 {
  text-align: center;
}

.form-group label {
  display: block;
  font-size: 14px;
  color: #86898f;
}

.form-group input,
.form-group textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  /* background: transparent; */
  border-bottom: 1px solid #ccc;
  color: black;
  padding: 15px 0 10px;
  outline: none;
  font-family: inherit;
}

.row {
  margin-bottom: 20px;
}

.row > .form-group {
  width: 50%;
  margin-right: 20px;
}
.btn {
  background: #111;
  padding: 15px 20px;
  color: #eb9eee;
  border: none;
  font-family: inherit;
  cursor: pointer;
}
